[submodule "LightPipe-Spacer"]
	path = LightPipe-Spacer
	url = https://github.com/HansAchterbahn/LightPipe-Spacer
[submodule "LightPipe-EndCap"]
	path = LightPipe-EndCap
	url = https://github.com/HansAchterbahn/LightPipe-EndCap
[submodule "LightPipe-Kicad"]
	path = LightPipe-Kicad
	url = https://github.com/HansAchterbahn/LightPipe-Kicad
